<% if user_signed_in? %>
  <%= high_chart("my_id", @timeline) %>
  <div row large-12 columns>
    <div class="hidden" id="map" style='width: 600px; height: 400px; margin: 2%;'></div>
  </div>
<% else %>
  <div class="landing-page">
  </div>
<% end %>
