// @import "*";
@import "foundation_and_overrides";

li {
  list-style: none;
}

.all-trails {
  text-align: center;
}

.top-bar li {
  color: white;
}

.top-bar li a {
  color: white;
}

.callout {
  height: 100px;
  margin-bottom: 10px;
  padding-top: 25px;
}
