// @import "*";
@import "foundation_and_overrides";
@import "jquery-ui";

*{
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

}

li {
  list-style: none;
}

.all-trails {
  text-align: center;
}

.top-bar li {
  color: white;
}

.top-bar li a {
  color: white;
}

.callout {
  height: 100px;
  margin-bottom: 10px;
  padding-top: 40px;
}

.landing-page {
  width: 100%;
  height: 100%;
  background: url("https://static.pexels.com/photos/116717/pexels-photo-116717.jpeg");
  background-size: 100% 100%;
  text-align: center;
  padding-top: 10%;
}

.hidden {
  display: none;
}

.trail-info {
  margin-top: 12px;
  background-color: #EFF0F1;
}
